/*vertical align center*/
/* line 2, classes.scss */
.va-c {
  display: table !important;
  border-collapse: collapse;
  border-spacing: 0px;
}

/* line 7, classes.scss */
.va-c.separate {
  border-collapse: separate !important;
  border-spacing: 5px;
}

/* line 12, classes.scss */
.va-c > * {
  display: table-cell;
  vertical-align: middle;
}

/*group inline*/
/* line 17, classes.scss */
.group-inline {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0px;
}

/* line 24, classes.scss */
.group-inline > * {
  display: table-cell;
  vertical-align: middle;
}

/*cursor*/
/* line 29, classes.scss */
.cu-p:hover {
  cursor: pointer !important;
}

/*containers*/
/* line 33, classes.scss */
.container {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

/* line 38, classes.scss */
.block {
  width: 100%;
  padding: 5px;
}

/*select none*/
/* line 44, classes.scss */
.select-none {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

/*center*/
/* line 58, classes.scss */
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 63, classes.scss */
.box {
  display: block;
  overflow: hidden;
  width: 100%;
}

/* line 69, classes.scss */
.container {
  display: block;
  padding: 5px;
  overflow: hidden;
  width: 100%;
}

/* line 76, classes.scss */
.title {
  text-align: center;
  padding: 15px 5px;
  font-size: 1.3em;
}

/* line 82, classes.scss */
.ov-h {
  overflow: hidden;
}

/* line 86, classes.scss */
.fl-r {
  float: right !important;
}

/* line 89, classes.scss */
.fl-l {
  float: left !important;
}

/* line 93, classes.scss */
.bs-so {
  border-style: solid !important;
}

/* line 96, classes.scss */
.bs-da {
  border-style: dashed !important;
}

/* line 99, classes.scss */
.bs-do {
  border-style: dotted !important;
}

/* line 103, classes.scss */
.di-n {
  display: none !important;
}

/* line 106, classes.scss */
.di-b {
  display: block !important;
}

/* line 109, classes.scss */
.di-i {
  display: inline !important;
}

/* line 112, classes.scss */
.di-ib {
  display: inline-block !important;
}

/* line 116, classes.scss */
.bw-1 {
  border-width: 1px !important;
}

/* line 116, classes.scss */
.bw-2 {
  border-width: 2px !important;
}

/* line 116, classes.scss */
.bw-3 {
  border-width: 3px !important;
}

/* line 116, classes.scss */
.bw-4 {
  border-width: 4px !important;
}

/* line 116, classes.scss */
.bw-5 {
  border-width: 5px !important;
}

/* line 116, classes.scss */
.bw-6 {
  border-width: 6px !important;
}

/* line 116, classes.scss */
.bw-7 {
  border-width: 7px !important;
}

/* line 116, classes.scss */
.bw-8 {
  border-width: 8px !important;
}

/* line 116, classes.scss */
.bw-9 {
  border-width: 9px !important;
}

/* line 116, classes.scss */
.bw-10 {
  border-width: 10px !important;
}

/*fixed width*/
/* line 122, classes.scss */
.w-5 {
  width: 5px !important;
}

/* line 122, classes.scss */
.w-10 {
  width: 10px !important;
}

/* line 122, classes.scss */
.w-15 {
  width: 15px !important;
}

/* line 122, classes.scss */
.w-20 {
  width: 20px !important;
}

/* line 122, classes.scss */
.w-25 {
  width: 25px !important;
}

/* line 122, classes.scss */
.w-30 {
  width: 30px !important;
}

/* line 122, classes.scss */
.w-35 {
  width: 35px !important;
}

/* line 122, classes.scss */
.w-40 {
  width: 40px !important;
}

/* line 122, classes.scss */
.w-45 {
  width: 45px !important;
}

/* line 122, classes.scss */
.w-50 {
  width: 50px !important;
}

/* line 122, classes.scss */
.w-55 {
  width: 55px !important;
}

/* line 122, classes.scss */
.w-60 {
  width: 60px !important;
}

/* line 122, classes.scss */
.w-65 {
  width: 65px !important;
}

/* line 122, classes.scss */
.w-70 {
  width: 70px !important;
}

/* line 122, classes.scss */
.w-75 {
  width: 75px !important;
}

/* line 122, classes.scss */
.w-80 {
  width: 80px !important;
}

/* line 122, classes.scss */
.w-85 {
  width: 85px !important;
}

/* line 122, classes.scss */
.w-90 {
  width: 90px !important;
}

/* line 122, classes.scss */
.w-95 {
  width: 95px !important;
}

/* line 122, classes.scss */
.w-100 {
  width: 100px !important;
}

/* line 122, classes.scss */
.w-105 {
  width: 105px !important;
}

/* line 122, classes.scss */
.w-110 {
  width: 110px !important;
}

/* line 122, classes.scss */
.w-115 {
  width: 115px !important;
}

/* line 122, classes.scss */
.w-120 {
  width: 120px !important;
}

/* line 122, classes.scss */
.w-125 {
  width: 125px !important;
}

/* line 122, classes.scss */
.w-130 {
  width: 130px !important;
}

/* line 122, classes.scss */
.w-135 {
  width: 135px !important;
}

/* line 122, classes.scss */
.w-140 {
  width: 140px !important;
}

/* line 122, classes.scss */
.w-145 {
  width: 145px !important;
}

/* line 122, classes.scss */
.w-150 {
  width: 150px !important;
}

/* line 122, classes.scss */
.w-155 {
  width: 155px !important;
}

/* line 122, classes.scss */
.w-160 {
  width: 160px !important;
}

/* line 122, classes.scss */
.w-165 {
  width: 165px !important;
}

/* line 122, classes.scss */
.w-170 {
  width: 170px !important;
}

/* line 122, classes.scss */
.w-175 {
  width: 175px !important;
}

/* line 122, classes.scss */
.w-180 {
  width: 180px !important;
}

/* line 122, classes.scss */
.w-185 {
  width: 185px !important;
}

/* line 122, classes.scss */
.w-190 {
  width: 190px !important;
}

/* line 122, classes.scss */
.w-195 {
  width: 195px !important;
}

/* line 122, classes.scss */
.w-200 {
  width: 200px !important;
}

/* line 122, classes.scss */
.w-205 {
  width: 205px !important;
}

/* line 122, classes.scss */
.w-210 {
  width: 210px !important;
}

/* line 122, classes.scss */
.w-215 {
  width: 215px !important;
}

/* line 122, classes.scss */
.w-220 {
  width: 220px !important;
}

/* line 122, classes.scss */
.w-225 {
  width: 225px !important;
}

/* line 122, classes.scss */
.w-230 {
  width: 230px !important;
}

/* line 122, classes.scss */
.w-235 {
  width: 235px !important;
}

/* line 122, classes.scss */
.w-240 {
  width: 240px !important;
}

/* line 122, classes.scss */
.w-245 {
  width: 245px !important;
}

/* line 122, classes.scss */
.w-250 {
  width: 250px !important;
}

/*Otros anchos*/
/* line 127, classes.scss */
.w-full {
  width: 100% !important;
}

/*max-width*/
/* line 133, classes.scss */
.mw-50 {
  width: 100%;
  max-width: 50px !important;
}

/* line 133, classes.scss */
.mw-100 {
  width: 100%;
  max-width: 100px !important;
}

/* line 133, classes.scss */
.mw-150 {
  width: 100%;
  max-width: 150px !important;
}

/* line 133, classes.scss */
.mw-200 {
  width: 100%;
  max-width: 200px !important;
}

/* line 133, classes.scss */
.mw-250 {
  width: 100%;
  max-width: 250px !important;
}

/* line 133, classes.scss */
.mw-300 {
  width: 100%;
  max-width: 300px !important;
}

/* line 133, classes.scss */
.mw-350 {
  width: 100%;
  max-width: 350px !important;
}

/* line 133, classes.scss */
.mw-400 {
  width: 100%;
  max-width: 400px !important;
}

/* line 133, classes.scss */
.mw-450 {
  width: 100%;
  max-width: 450px !important;
}

/* line 133, classes.scss */
.mw-500 {
  width: 100%;
  max-width: 500px !important;
}

/* line 133, classes.scss */
.mw-550 {
  width: 100%;
  max-width: 550px !important;
}

/* line 133, classes.scss */
.mw-600 {
  width: 100%;
  max-width: 600px !important;
}

/* line 133, classes.scss */
.mw-650 {
  width: 100%;
  max-width: 650px !important;
}

/* line 133, classes.scss */
.mw-700 {
  width: 100%;
  max-width: 700px !important;
}

/* line 133, classes.scss */
.mw-750 {
  width: 100%;
  max-width: 750px !important;
}

/* line 133, classes.scss */
.mw-800 {
  width: 100%;
  max-width: 800px !important;
}

/* line 133, classes.scss */
.mw-850 {
  width: 100%;
  max-width: 850px !important;
}

/* line 133, classes.scss */
.mw-900 {
  width: 100%;
  max-width: 900px !important;
}

/* line 133, classes.scss */
.mw-950 {
  width: 100%;
  max-width: 950px !important;
}

/* line 133, classes.scss */
.mw-1000 {
  width: 100%;
  max-width: 1000px !important;
}

/*fixed height*/
/* line 141, classes.scss */
.h-5 {
  height: 5px !important;
}

/* line 141, classes.scss */
.h-10 {
  height: 10px !important;
}

/* line 141, classes.scss */
.h-15 {
  height: 15px !important;
}

/* line 141, classes.scss */
.h-20 {
  height: 20px !important;
}

/* line 141, classes.scss */
.h-25 {
  height: 25px !important;
}

/* line 141, classes.scss */
.h-30 {
  height: 30px !important;
}

/* line 141, classes.scss */
.h-35 {
  height: 35px !important;
}

/* line 141, classes.scss */
.h-40 {
  height: 40px !important;
}

/* line 141, classes.scss */
.h-45 {
  height: 45px !important;
}

/* line 141, classes.scss */
.h-50 {
  height: 50px !important;
}

/* line 141, classes.scss */
.h-55 {
  height: 55px !important;
}

/* line 141, classes.scss */
.h-60 {
  height: 60px !important;
}

/* line 141, classes.scss */
.h-65 {
  height: 65px !important;
}

/* line 141, classes.scss */
.h-70 {
  height: 70px !important;
}

/* line 141, classes.scss */
.h-75 {
  height: 75px !important;
}

/* line 141, classes.scss */
.h-80 {
  height: 80px !important;
}

/* line 141, classes.scss */
.h-85 {
  height: 85px !important;
}

/* line 141, classes.scss */
.h-90 {
  height: 90px !important;
}

/* line 141, classes.scss */
.h-95 {
  height: 95px !important;
}

/* line 141, classes.scss */
.h-100 {
  height: 100px !important;
}

/* line 141, classes.scss */
.h-105 {
  height: 105px !important;
}

/* line 141, classes.scss */
.h-110 {
  height: 110px !important;
}

/* line 141, classes.scss */
.h-115 {
  height: 115px !important;
}

/* line 141, classes.scss */
.h-120 {
  height: 120px !important;
}

/* line 141, classes.scss */
.h-125 {
  height: 125px !important;
}

/* line 141, classes.scss */
.h-130 {
  height: 130px !important;
}

/* line 141, classes.scss */
.h-135 {
  height: 135px !important;
}

/* line 141, classes.scss */
.h-140 {
  height: 140px !important;
}

/* line 141, classes.scss */
.h-145 {
  height: 145px !important;
}

/* line 141, classes.scss */
.h-150 {
  height: 150px !important;
}

/*squares*/
/* line 148, classes.scss */
.square-10 {
  display: block;
  width: 10px !important;
  height: 10px !important;
}

/* line 148, classes.scss */
.square-20 {
  display: block;
  width: 20px !important;
  height: 20px !important;
}

/* line 148, classes.scss */
.square-30 {
  display: block;
  width: 30px !important;
  height: 30px !important;
}

/* line 148, classes.scss */
.square-40 {
  display: block;
  width: 40px !important;
  height: 40px !important;
}

/* line 148, classes.scss */
.square-50 {
  display: block;
  width: 50px !important;
  height: 50px !important;
}

/* line 148, classes.scss */
.square-60 {
  display: block;
  width: 60px !important;
  height: 60px !important;
}

/* line 148, classes.scss */
.square-70 {
  display: block;
  width: 70px !important;
  height: 70px !important;
}

/* line 148, classes.scss */
.square-80 {
  display: block;
  width: 80px !important;
  height: 80px !important;
}

/* line 148, classes.scss */
.square-90 {
  display: block;
  width: 90px !important;
  height: 90px !important;
}

/* line 148, classes.scss */
.square-100 {
  display: block;
  width: 100px !important;
  height: 100px !important;
}

/* line 148, classes.scss */
.square-110 {
  display: block;
  width: 110px !important;
  height: 110px !important;
}

/* line 148, classes.scss */
.square-120 {
  display: block;
  width: 120px !important;
  height: 120px !important;
}

/* line 148, classes.scss */
.square-130 {
  display: block;
  width: 130px !important;
  height: 130px !important;
}

/* line 148, classes.scss */
.square-140 {
  display: block;
  width: 140px !important;
  height: 140px !important;
}

/* line 148, classes.scss */
.square-150 {
  display: block;
  width: 150px !important;
  height: 150px !important;
}

/* line 148, classes.scss */
.square-160 {
  display: block;
  width: 160px !important;
  height: 160px !important;
}

/* line 148, classes.scss */
.square-170 {
  display: block;
  width: 170px !important;
  height: 170px !important;
}

/* line 148, classes.scss */
.square-180 {
  display: block;
  width: 180px !important;
  height: 180px !important;
}

/* line 148, classes.scss */
.square-190 {
  display: block;
  width: 190px !important;
  height: 190px !important;
}

/* line 148, classes.scss */
.square-200 {
  display: block;
  width: 200px !important;
  height: 200px !important;
}

/*margin*/
/* line 160, classes.scss */
.m-5 {
  margin: 5px !important;
}

/* line 163, classes.scss */
.ml-5 {
  margin-left: 5px !important;
}

/* line 166, classes.scss */
.mr-5 {
  margin-right: 5px !important;
}

/* line 169, classes.scss */
.mt-5 {
  margin-top: 5px !important;
}

/* line 172, classes.scss */
.mb-5 {
  margin-bottom: 5px !important;
}

/* line 175, classes.scss */
.p-5 {
  padding: 5px !important;
}

/* line 178, classes.scss */
.pl-5 {
  padding-left: 5px !important;
}

/* line 181, classes.scss */
.pr-5 {
  padding-right: 5px !important;
}

/* line 184, classes.scss */
.pt-5 {
  padding-top: 5px !important;
}

/* line 187, classes.scss */
.pb-5 {
  padding-bottom: 5px !important;
}

/* line 160, classes.scss */
.m-10 {
  margin: 10px !important;
}

/* line 163, classes.scss */
.ml-10 {
  margin-left: 10px !important;
}

/* line 166, classes.scss */
.mr-10 {
  margin-right: 10px !important;
}

/* line 169, classes.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 172, classes.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 175, classes.scss */
.p-10 {
  padding: 10px !important;
}

/* line 178, classes.scss */
.pl-10 {
  padding-left: 10px !important;
}

/* line 181, classes.scss */
.pr-10 {
  padding-right: 10px !important;
}

/* line 184, classes.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 187, classes.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 160, classes.scss */
.m-15 {
  margin: 15px !important;
}

/* line 163, classes.scss */
.ml-15 {
  margin-left: 15px !important;
}

/* line 166, classes.scss */
.mr-15 {
  margin-right: 15px !important;
}

/* line 169, classes.scss */
.mt-15 {
  margin-top: 15px !important;
}

/* line 172, classes.scss */
.mb-15 {
  margin-bottom: 15px !important;
}

/* line 175, classes.scss */
.p-15 {
  padding: 15px !important;
}

/* line 178, classes.scss */
.pl-15 {
  padding-left: 15px !important;
}

/* line 181, classes.scss */
.pr-15 {
  padding-right: 15px !important;
}

/* line 184, classes.scss */
.pt-15 {
  padding-top: 15px !important;
}

/* line 187, classes.scss */
.pb-15 {
  padding-bottom: 15px !important;
}

/* line 160, classes.scss */
.m-20 {
  margin: 20px !important;
}

/* line 163, classes.scss */
.ml-20 {
  margin-left: 20px !important;
}

/* line 166, classes.scss */
.mr-20 {
  margin-right: 20px !important;
}

/* line 169, classes.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 172, classes.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 175, classes.scss */
.p-20 {
  padding: 20px !important;
}

/* line 178, classes.scss */
.pl-20 {
  padding-left: 20px !important;
}

/* line 181, classes.scss */
.pr-20 {
  padding-right: 20px !important;
}

/* line 184, classes.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 187, classes.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 160, classes.scss */
.m-25 {
  margin: 25px !important;
}

/* line 163, classes.scss */
.ml-25 {
  margin-left: 25px !important;
}

/* line 166, classes.scss */
.mr-25 {
  margin-right: 25px !important;
}

/* line 169, classes.scss */
.mt-25 {
  margin-top: 25px !important;
}

/* line 172, classes.scss */
.mb-25 {
  margin-bottom: 25px !important;
}

/* line 175, classes.scss */
.p-25 {
  padding: 25px !important;
}

/* line 178, classes.scss */
.pl-25 {
  padding-left: 25px !important;
}

/* line 181, classes.scss */
.pr-25 {
  padding-right: 25px !important;
}

/* line 184, classes.scss */
.pt-25 {
  padding-top: 25px !important;
}

/* line 187, classes.scss */
.pb-25 {
  padding-bottom: 25px !important;
}

/* line 160, classes.scss */
.m-30 {
  margin: 30px !important;
}

/* line 163, classes.scss */
.ml-30 {
  margin-left: 30px !important;
}

/* line 166, classes.scss */
.mr-30 {
  margin-right: 30px !important;
}

/* line 169, classes.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 172, classes.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 175, classes.scss */
.p-30 {
  padding: 30px !important;
}

/* line 178, classes.scss */
.pl-30 {
  padding-left: 30px !important;
}

/* line 181, classes.scss */
.pr-30 {
  padding-right: 30px !important;
}

/* line 184, classes.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 187, classes.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 160, classes.scss */
.m-35 {
  margin: 35px !important;
}

/* line 163, classes.scss */
.ml-35 {
  margin-left: 35px !important;
}

/* line 166, classes.scss */
.mr-35 {
  margin-right: 35px !important;
}

/* line 169, classes.scss */
.mt-35 {
  margin-top: 35px !important;
}

/* line 172, classes.scss */
.mb-35 {
  margin-bottom: 35px !important;
}

/* line 175, classes.scss */
.p-35 {
  padding: 35px !important;
}

/* line 178, classes.scss */
.pl-35 {
  padding-left: 35px !important;
}

/* line 181, classes.scss */
.pr-35 {
  padding-right: 35px !important;
}

/* line 184, classes.scss */
.pt-35 {
  padding-top: 35px !important;
}

/* line 187, classes.scss */
.pb-35 {
  padding-bottom: 35px !important;
}

/* line 160, classes.scss */
.m-40 {
  margin: 40px !important;
}

/* line 163, classes.scss */
.ml-40 {
  margin-left: 40px !important;
}

/* line 166, classes.scss */
.mr-40 {
  margin-right: 40px !important;
}

/* line 169, classes.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 172, classes.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 175, classes.scss */
.p-40 {
  padding: 40px !important;
}

/* line 178, classes.scss */
.pl-40 {
  padding-left: 40px !important;
}

/* line 181, classes.scss */
.pr-40 {
  padding-right: 40px !important;
}

/* line 184, classes.scss */
.pt-40 {
  padding-top: 40px !important;
}

/* line 187, classes.scss */
.pb-40 {
  padding-bottom: 40px !important;
}

/* line 160, classes.scss */
.m-45 {
  margin: 45px !important;
}

/* line 163, classes.scss */
.ml-45 {
  margin-left: 45px !important;
}

/* line 166, classes.scss */
.mr-45 {
  margin-right: 45px !important;
}

/* line 169, classes.scss */
.mt-45 {
  margin-top: 45px !important;
}

/* line 172, classes.scss */
.mb-45 {
  margin-bottom: 45px !important;
}

/* line 175, classes.scss */
.p-45 {
  padding: 45px !important;
}

/* line 178, classes.scss */
.pl-45 {
  padding-left: 45px !important;
}

/* line 181, classes.scss */
.pr-45 {
  padding-right: 45px !important;
}

/* line 184, classes.scss */
.pt-45 {
  padding-top: 45px !important;
}

/* line 187, classes.scss */
.pb-45 {
  padding-bottom: 45px !important;
}

/* line 160, classes.scss */
.m-50 {
  margin: 50px !important;
}

/* line 163, classes.scss */
.ml-50 {
  margin-left: 50px !important;
}

/* line 166, classes.scss */
.mr-50 {
  margin-right: 50px !important;
}

/* line 169, classes.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 172, classes.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 175, classes.scss */
.p-50 {
  padding: 50px !important;
}

/* line 178, classes.scss */
.pl-50 {
  padding-left: 50px !important;
}

/* line 181, classes.scss */
.pr-50 {
  padding-right: 50px !important;
}

/* line 184, classes.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 187, classes.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 160, classes.scss */
.m-55 {
  margin: 55px !important;
}

/* line 163, classes.scss */
.ml-55 {
  margin-left: 55px !important;
}

/* line 166, classes.scss */
.mr-55 {
  margin-right: 55px !important;
}

/* line 169, classes.scss */
.mt-55 {
  margin-top: 55px !important;
}

/* line 172, classes.scss */
.mb-55 {
  margin-bottom: 55px !important;
}

/* line 175, classes.scss */
.p-55 {
  padding: 55px !important;
}

/* line 178, classes.scss */
.pl-55 {
  padding-left: 55px !important;
}

/* line 181, classes.scss */
.pr-55 {
  padding-right: 55px !important;
}

/* line 184, classes.scss */
.pt-55 {
  padding-top: 55px !important;
}

/* line 187, classes.scss */
.pb-55 {
  padding-bottom: 55px !important;
}

/* line 160, classes.scss */
.m-60 {
  margin: 60px !important;
}

/* line 163, classes.scss */
.ml-60 {
  margin-left: 60px !important;
}

/* line 166, classes.scss */
.mr-60 {
  margin-right: 60px !important;
}

/* line 169, classes.scss */
.mt-60 {
  margin-top: 60px !important;
}

/* line 172, classes.scss */
.mb-60 {
  margin-bottom: 60px !important;
}

/* line 175, classes.scss */
.p-60 {
  padding: 60px !important;
}

/* line 178, classes.scss */
.pl-60 {
  padding-left: 60px !important;
}

/* line 181, classes.scss */
.pr-60 {
  padding-right: 60px !important;
}

/* line 184, classes.scss */
.pt-60 {
  padding-top: 60px !important;
}

/* line 187, classes.scss */
.pb-60 {
  padding-bottom: 60px !important;
}

/* line 160, classes.scss */
.m-65 {
  margin: 65px !important;
}

/* line 163, classes.scss */
.ml-65 {
  margin-left: 65px !important;
}

/* line 166, classes.scss */
.mr-65 {
  margin-right: 65px !important;
}

/* line 169, classes.scss */
.mt-65 {
  margin-top: 65px !important;
}

/* line 172, classes.scss */
.mb-65 {
  margin-bottom: 65px !important;
}

/* line 175, classes.scss */
.p-65 {
  padding: 65px !important;
}

/* line 178, classes.scss */
.pl-65 {
  padding-left: 65px !important;
}

/* line 181, classes.scss */
.pr-65 {
  padding-right: 65px !important;
}

/* line 184, classes.scss */
.pt-65 {
  padding-top: 65px !important;
}

/* line 187, classes.scss */
.pb-65 {
  padding-bottom: 65px !important;
}

/* line 160, classes.scss */
.m-70 {
  margin: 70px !important;
}

/* line 163, classes.scss */
.ml-70 {
  margin-left: 70px !important;
}

/* line 166, classes.scss */
.mr-70 {
  margin-right: 70px !important;
}

/* line 169, classes.scss */
.mt-70 {
  margin-top: 70px !important;
}

/* line 172, classes.scss */
.mb-70 {
  margin-bottom: 70px !important;
}

/* line 175, classes.scss */
.p-70 {
  padding: 70px !important;
}

/* line 178, classes.scss */
.pl-70 {
  padding-left: 70px !important;
}

/* line 181, classes.scss */
.pr-70 {
  padding-right: 70px !important;
}

/* line 184, classes.scss */
.pt-70 {
  padding-top: 70px !important;
}

/* line 187, classes.scss */
.pb-70 {
  padding-bottom: 70px !important;
}

/* line 160, classes.scss */
.m-75 {
  margin: 75px !important;
}

/* line 163, classes.scss */
.ml-75 {
  margin-left: 75px !important;
}

/* line 166, classes.scss */
.mr-75 {
  margin-right: 75px !important;
}

/* line 169, classes.scss */
.mt-75 {
  margin-top: 75px !important;
}

/* line 172, classes.scss */
.mb-75 {
  margin-bottom: 75px !important;
}

/* line 175, classes.scss */
.p-75 {
  padding: 75px !important;
}

/* line 178, classes.scss */
.pl-75 {
  padding-left: 75px !important;
}

/* line 181, classes.scss */
.pr-75 {
  padding-right: 75px !important;
}

/* line 184, classes.scss */
.pt-75 {
  padding-top: 75px !important;
}

/* line 187, classes.scss */
.pb-75 {
  padding-bottom: 75px !important;
}

/* line 160, classes.scss */
.m-80 {
  margin: 80px !important;
}

/* line 163, classes.scss */
.ml-80 {
  margin-left: 80px !important;
}

/* line 166, classes.scss */
.mr-80 {
  margin-right: 80px !important;
}

/* line 169, classes.scss */
.mt-80 {
  margin-top: 80px !important;
}

/* line 172, classes.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 175, classes.scss */
.p-80 {
  padding: 80px !important;
}

/* line 178, classes.scss */
.pl-80 {
  padding-left: 80px !important;
}

/* line 181, classes.scss */
.pr-80 {
  padding-right: 80px !important;
}

/* line 184, classes.scss */
.pt-80 {
  padding-top: 80px !important;
}

/* line 187, classes.scss */
.pb-80 {
  padding-bottom: 80px !important;
}

/* line 160, classes.scss */
.m-85 {
  margin: 85px !important;
}

/* line 163, classes.scss */
.ml-85 {
  margin-left: 85px !important;
}

/* line 166, classes.scss */
.mr-85 {
  margin-right: 85px !important;
}

/* line 169, classes.scss */
.mt-85 {
  margin-top: 85px !important;
}

/* line 172, classes.scss */
.mb-85 {
  margin-bottom: 85px !important;
}

/* line 175, classes.scss */
.p-85 {
  padding: 85px !important;
}

/* line 178, classes.scss */
.pl-85 {
  padding-left: 85px !important;
}

/* line 181, classes.scss */
.pr-85 {
  padding-right: 85px !important;
}

/* line 184, classes.scss */
.pt-85 {
  padding-top: 85px !important;
}

/* line 187, classes.scss */
.pb-85 {
  padding-bottom: 85px !important;
}

/* line 160, classes.scss */
.m-90 {
  margin: 90px !important;
}

/* line 163, classes.scss */
.ml-90 {
  margin-left: 90px !important;
}

/* line 166, classes.scss */
.mr-90 {
  margin-right: 90px !important;
}

/* line 169, classes.scss */
.mt-90 {
  margin-top: 90px !important;
}

/* line 172, classes.scss */
.mb-90 {
  margin-bottom: 90px !important;
}

/* line 175, classes.scss */
.p-90 {
  padding: 90px !important;
}

/* line 178, classes.scss */
.pl-90 {
  padding-left: 90px !important;
}

/* line 181, classes.scss */
.pr-90 {
  padding-right: 90px !important;
}

/* line 184, classes.scss */
.pt-90 {
  padding-top: 90px !important;
}

/* line 187, classes.scss */
.pb-90 {
  padding-bottom: 90px !important;
}

/* line 160, classes.scss */
.m-95 {
  margin: 95px !important;
}

/* line 163, classes.scss */
.ml-95 {
  margin-left: 95px !important;
}

/* line 166, classes.scss */
.mr-95 {
  margin-right: 95px !important;
}

/* line 169, classes.scss */
.mt-95 {
  margin-top: 95px !important;
}

/* line 172, classes.scss */
.mb-95 {
  margin-bottom: 95px !important;
}

/* line 175, classes.scss */
.p-95 {
  padding: 95px !important;
}

/* line 178, classes.scss */
.pl-95 {
  padding-left: 95px !important;
}

/* line 181, classes.scss */
.pr-95 {
  padding-right: 95px !important;
}

/* line 184, classes.scss */
.pt-95 {
  padding-top: 95px !important;
}

/* line 187, classes.scss */
.pb-95 {
  padding-bottom: 95px !important;
}

/* line 160, classes.scss */
.m-100 {
  margin: 100px !important;
}

/* line 163, classes.scss */
.ml-100 {
  margin-left: 100px !important;
}

/* line 166, classes.scss */
.mr-100 {
  margin-right: 100px !important;
}

/* line 169, classes.scss */
.mt-100 {
  margin-top: 100px !important;
}

/* line 172, classes.scss */
.mb-100 {
  margin-bottom: 100px !important;
}

/* line 175, classes.scss */
.p-100 {
  padding: 100px !important;
}

/* line 178, classes.scss */
.pl-100 {
  padding-left: 100px !important;
}

/* line 181, classes.scss */
.pr-100 {
  padding-right: 100px !important;
}

/* line 184, classes.scss */
.pt-100 {
  padding-top: 100px !important;
}

/* line 187, classes.scss */
.pb-100 {
  padding-bottom: 100px !important;
}

/*Fonts size*/
/* line 195, classes.scss */
.fs-10 {
  font-size: 10px !important;
}

/* line 195, classes.scss */
.fs-11 {
  font-size: 11px !important;
}

/* line 195, classes.scss */
.fs-12 {
  font-size: 12px !important;
}

/* line 195, classes.scss */
.fs-13 {
  font-size: 13px !important;
}

/* line 195, classes.scss */
.fs-14 {
  font-size: 14px !important;
}

/* line 195, classes.scss */
.fs-15 {
  font-size: 15px !important;
}

/* line 195, classes.scss */
.fs-16 {
  font-size: 16px !important;
}

/* line 195, classes.scss */
.fs-17 {
  font-size: 17px !important;
}

/* line 195, classes.scss */
.fs-18 {
  font-size: 18px !important;
}

/* line 195, classes.scss */
.fs-19 {
  font-size: 19px !important;
}

/* line 195, classes.scss */
.fs-20 {
  font-size: 20px !important;
}

/* line 195, classes.scss */
.fs-21 {
  font-size: 21px !important;
}

/* line 195, classes.scss */
.fs-22 {
  font-size: 22px !important;
}

/* line 195, classes.scss */
.fs-23 {
  font-size: 23px !important;
}

/* line 195, classes.scss */
.fs-24 {
  font-size: 24px !important;
}

/* line 195, classes.scss */
.fs-25 {
  font-size: 25px !important;
}

/* line 195, classes.scss */
.fs-26 {
  font-size: 26px !important;
}

/* line 195, classes.scss */
.fs-27 {
  font-size: 27px !important;
}

/* line 195, classes.scss */
.fs-28 {
  font-size: 28px !important;
}

/* line 195, classes.scss */
.fs-29 {
  font-size: 29px !important;
}

/* line 195, classes.scss */
.fs-30 {
  font-size: 30px !important;
}

/* line 195, classes.scss */
.fs-31 {
  font-size: 31px !important;
}

/* line 195, classes.scss */
.fs-32 {
  font-size: 32px !important;
}

/* line 195, classes.scss */
.fs-33 {
  font-size: 33px !important;
}

/* line 195, classes.scss */
.fs-34 {
  font-size: 34px !important;
}

/* line 195, classes.scss */
.fs-35 {
  font-size: 35px !important;
}

/* line 195, classes.scss */
.fs-36 {
  font-size: 36px !important;
}

/* line 195, classes.scss */
.fs-37 {
  font-size: 37px !important;
}

/* line 195, classes.scss */
.fs-38 {
  font-size: 38px !important;
}

/* line 195, classes.scss */
.fs-39 {
  font-size: 39px !important;
}

/* line 195, classes.scss */
.fs-40 {
  font-size: 40px !important;
}

/* line 195, classes.scss */
.fs-41 {
  font-size: 41px !important;
}

/* line 195, classes.scss */
.fs-42 {
  font-size: 42px !important;
}

/* line 195, classes.scss */
.fs-43 {
  font-size: 43px !important;
}

/* line 195, classes.scss */
.fs-44 {
  font-size: 44px !important;
}

/* line 195, classes.scss */
.fs-45 {
  font-size: 45px !important;
}

/* line 195, classes.scss */
.fs-46 {
  font-size: 46px !important;
}

/* line 195, classes.scss */
.fs-47 {
  font-size: 47px !important;
}

/* line 195, classes.scss */
.fs-48 {
  font-size: 48px !important;
}

/* line 195, classes.scss */
.fs-49 {
  font-size: 49px !important;
}

/* line 195, classes.scss */
.fs-50 {
  font-size: 50px !important;
}

/*text align*/
/* line 200, classes.scss */
.ta-c {
  text-align: center !important;
}

/* line 203, classes.scss */
.ta-l {
  text-align: left !important;
}

/* line 206, classes.scss */
.ta-r {
  text-align: right !important;
}

/*truncate -> texto con puntos*/
/* line 210, classes.scss */
.truncate {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*border-radius*/
/* line 217, classes.scss */
.radius {
  border-radius: 10px !important;
}

/*Borde redondeado*/
/* line 221, classes.scss */
.round {
  border-radius: 20px !important;
}

/*Circulo*/
/* line 225, classes.scss */
.circle {
  border-radius: 9999px !important;
}

/*Transition*/
/* line 230, classes.scss */
.transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

/*Rotate*/
/* line 238, classes.scss */
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*shadow*/
/* line 247, classes.scss */
.shadow {
  box-shadow: 0 1px 4px #777 !important;
}

/* line 251, classes.scss */
.shadow-input {
  box-shadow: 0px 1px 2px #c3c3c3 !important;
}

/*hide-text*/
/* line 255, classes.scss */
.hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/*No seleccionar texto*/
/* line 266, classes.scss */
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

/*position*/
/* line 276, classes.scss */
.po-a {
  position: absolute !important;
}

/* line 279, classes.scss */
.po-r {
  position: relative !important;
}

/* line 282, classes.scss */
.po-f {
  position: fixed !important;
}

/* line 286, classes.scss */
.to-0 {
  top: 0px !important;
}

/* line 289, classes.scss */
.le-0 {
  left: 0px !important;
}

/* line 292, classes.scss */
.ri-0 {
  right: 0px !important;
}

/* line 295, classes.scss */
.bo-0 {
  bottom: 0px !important;
}

/* line 286, classes.scss */
.to-5 {
  top: 5px !important;
}

/* line 289, classes.scss */
.le-5 {
  left: 5px !important;
}

/* line 292, classes.scss */
.ri-5 {
  right: 5px !important;
}

/* line 295, classes.scss */
.bo-5 {
  bottom: 5px !important;
}

/* line 286, classes.scss */
.to-10 {
  top: 10px !important;
}

/* line 289, classes.scss */
.le-10 {
  left: 10px !important;
}

/* line 292, classes.scss */
.ri-10 {
  right: 10px !important;
}

/* line 295, classes.scss */
.bo-10 {
  bottom: 10px !important;
}

/* line 286, classes.scss */
.to-15 {
  top: 15px !important;
}

/* line 289, classes.scss */
.le-15 {
  left: 15px !important;
}

/* line 292, classes.scss */
.ri-15 {
  right: 15px !important;
}

/* line 295, classes.scss */
.bo-15 {
  bottom: 15px !important;
}

/* line 286, classes.scss */
.to-20 {
  top: 20px !important;
}

/* line 289, classes.scss */
.le-20 {
  left: 20px !important;
}

/* line 292, classes.scss */
.ri-20 {
  right: 20px !important;
}

/* line 295, classes.scss */
.bo-20 {
  bottom: 20px !important;
}

/* line 286, classes.scss */
.to-25 {
  top: 25px !important;
}

/* line 289, classes.scss */
.le-25 {
  left: 25px !important;
}

/* line 292, classes.scss */
.ri-25 {
  right: 25px !important;
}

/* line 295, classes.scss */
.bo-25 {
  bottom: 25px !important;
}

/* line 286, classes.scss */
.to-30 {
  top: 30px !important;
}

/* line 289, classes.scss */
.le-30 {
  left: 30px !important;
}

/* line 292, classes.scss */
.ri-30 {
  right: 30px !important;
}

/* line 295, classes.scss */
.bo-30 {
  bottom: 30px !important;
}

/* line 286, classes.scss */
.to-35 {
  top: 35px !important;
}

/* line 289, classes.scss */
.le-35 {
  left: 35px !important;
}

/* line 292, classes.scss */
.ri-35 {
  right: 35px !important;
}

/* line 295, classes.scss */
.bo-35 {
  bottom: 35px !important;
}

/* line 286, classes.scss */
.to-40 {
  top: 40px !important;
}

/* line 289, classes.scss */
.le-40 {
  left: 40px !important;
}

/* line 292, classes.scss */
.ri-40 {
  right: 40px !important;
}

/* line 295, classes.scss */
.bo-40 {
  bottom: 40px !important;
}

/* line 286, classes.scss */
.to-45 {
  top: 45px !important;
}

/* line 289, classes.scss */
.le-45 {
  left: 45px !important;
}

/* line 292, classes.scss */
.ri-45 {
  right: 45px !important;
}

/* line 295, classes.scss */
.bo-45 {
  bottom: 45px !important;
}

/* line 286, classes.scss */
.to-50 {
  top: 50px !important;
}

/* line 289, classes.scss */
.le-50 {
  left: 50px !important;
}

/* line 292, classes.scss */
.ri-50 {
  right: 50px !important;
}

/* line 295, classes.scss */
.bo-50 {
  bottom: 50px !important;
}

/* line 286, classes.scss */
.to-55 {
  top: 55px !important;
}

/* line 289, classes.scss */
.le-55 {
  left: 55px !important;
}

/* line 292, classes.scss */
.ri-55 {
  right: 55px !important;
}

/* line 295, classes.scss */
.bo-55 {
  bottom: 55px !important;
}

/* line 286, classes.scss */
.to-60 {
  top: 60px !important;
}

/* line 289, classes.scss */
.le-60 {
  left: 60px !important;
}

/* line 292, classes.scss */
.ri-60 {
  right: 60px !important;
}

/* line 295, classes.scss */
.bo-60 {
  bottom: 60px !important;
}

/* line 286, classes.scss */
.to-65 {
  top: 65px !important;
}

/* line 289, classes.scss */
.le-65 {
  left: 65px !important;
}

/* line 292, classes.scss */
.ri-65 {
  right: 65px !important;
}

/* line 295, classes.scss */
.bo-65 {
  bottom: 65px !important;
}

/* line 286, classes.scss */
.to-70 {
  top: 70px !important;
}

/* line 289, classes.scss */
.le-70 {
  left: 70px !important;
}

/* line 292, classes.scss */
.ri-70 {
  right: 70px !important;
}

/* line 295, classes.scss */
.bo-70 {
  bottom: 70px !important;
}

/* line 286, classes.scss */
.to-75 {
  top: 75px !important;
}

/* line 289, classes.scss */
.le-75 {
  left: 75px !important;
}

/* line 292, classes.scss */
.ri-75 {
  right: 75px !important;
}

/* line 295, classes.scss */
.bo-75 {
  bottom: 75px !important;
}

/* line 286, classes.scss */
.to-80 {
  top: 80px !important;
}

/* line 289, classes.scss */
.le-80 {
  left: 80px !important;
}

/* line 292, classes.scss */
.ri-80 {
  right: 80px !important;
}

/* line 295, classes.scss */
.bo-80 {
  bottom: 80px !important;
}

/* line 286, classes.scss */
.to-85 {
  top: 85px !important;
}

/* line 289, classes.scss */
.le-85 {
  left: 85px !important;
}

/* line 292, classes.scss */
.ri-85 {
  right: 85px !important;
}

/* line 295, classes.scss */
.bo-85 {
  bottom: 85px !important;
}

/* line 286, classes.scss */
.to-90 {
  top: 90px !important;
}

/* line 289, classes.scss */
.le-90 {
  left: 90px !important;
}

/* line 292, classes.scss */
.ri-90 {
  right: 90px !important;
}

/* line 295, classes.scss */
.bo-90 {
  bottom: 90px !important;
}

/* line 286, classes.scss */
.to-95 {
  top: 95px !important;
}

/* line 289, classes.scss */
.le-95 {
  left: 95px !important;
}

/* line 292, classes.scss */
.ri-95 {
  right: 95px !important;
}

/* line 295, classes.scss */
.bo-95 {
  bottom: 95px !important;
}

/* line 286, classes.scss */
.to-100 {
  top: 100px !important;
}

/* line 289, classes.scss */
.le-100 {
  left: 100px !important;
}

/* line 292, classes.scss */
.ri-100 {
  right: 100px !important;
}

/* line 295, classes.scss */
.bo-100 {
  bottom: 100px !important;
}

/* line 286, classes.scss */
.to-105 {
  top: 105px !important;
}

/* line 289, classes.scss */
.le-105 {
  left: 105px !important;
}

/* line 292, classes.scss */
.ri-105 {
  right: 105px !important;
}

/* line 295, classes.scss */
.bo-105 {
  bottom: 105px !important;
}

/* line 286, classes.scss */
.to-110 {
  top: 110px !important;
}

/* line 289, classes.scss */
.le-110 {
  left: 110px !important;
}

/* line 292, classes.scss */
.ri-110 {
  right: 110px !important;
}

/* line 295, classes.scss */
.bo-110 {
  bottom: 110px !important;
}

/* line 286, classes.scss */
.to-115 {
  top: 115px !important;
}

/* line 289, classes.scss */
.le-115 {
  left: 115px !important;
}

/* line 292, classes.scss */
.ri-115 {
  right: 115px !important;
}

/* line 295, classes.scss */
.bo-115 {
  bottom: 115px !important;
}

/* line 286, classes.scss */
.to-120 {
  top: 120px !important;
}

/* line 289, classes.scss */
.le-120 {
  left: 120px !important;
}

/* line 292, classes.scss */
.ri-120 {
  right: 120px !important;
}

/* line 295, classes.scss */
.bo-120 {
  bottom: 120px !important;
}

/* line 286, classes.scss */
.to-125 {
  top: 125px !important;
}

/* line 289, classes.scss */
.le-125 {
  left: 125px !important;
}

/* line 292, classes.scss */
.ri-125 {
  right: 125px !important;
}

/* line 295, classes.scss */
.bo-125 {
  bottom: 125px !important;
}

/* line 286, classes.scss */
.to-130 {
  top: 130px !important;
}

/* line 289, classes.scss */
.le-130 {
  left: 130px !important;
}

/* line 292, classes.scss */
.ri-130 {
  right: 130px !important;
}

/* line 295, classes.scss */
.bo-130 {
  bottom: 130px !important;
}

/* line 286, classes.scss */
.to-135 {
  top: 135px !important;
}

/* line 289, classes.scss */
.le-135 {
  left: 135px !important;
}

/* line 292, classes.scss */
.ri-135 {
  right: 135px !important;
}

/* line 295, classes.scss */
.bo-135 {
  bottom: 135px !important;
}

/* line 286, classes.scss */
.to-140 {
  top: 140px !important;
}

/* line 289, classes.scss */
.le-140 {
  left: 140px !important;
}

/* line 292, classes.scss */
.ri-140 {
  right: 140px !important;
}

/* line 295, classes.scss */
.bo-140 {
  bottom: 140px !important;
}

/* line 286, classes.scss */
.to-145 {
  top: 145px !important;
}

/* line 289, classes.scss */
.le-145 {
  left: 145px !important;
}

/* line 292, classes.scss */
.ri-145 {
  right: 145px !important;
}

/* line 295, classes.scss */
.bo-145 {
  bottom: 145px !important;
}

/* line 286, classes.scss */
.to-150 {
  top: 150px !important;
}

/* line 289, classes.scss */
.le-150 {
  left: 150px !important;
}

/* line 292, classes.scss */
.ri-150 {
  right: 150px !important;
}

/* line 295, classes.scss */
.bo-150 {
  bottom: 150px !important;
}

/* line 286, classes.scss */
.to-155 {
  top: 155px !important;
}

/* line 289, classes.scss */
.le-155 {
  left: 155px !important;
}

/* line 292, classes.scss */
.ri-155 {
  right: 155px !important;
}

/* line 295, classes.scss */
.bo-155 {
  bottom: 155px !important;
}

/* line 286, classes.scss */
.to-160 {
  top: 160px !important;
}

/* line 289, classes.scss */
.le-160 {
  left: 160px !important;
}

/* line 292, classes.scss */
.ri-160 {
  right: 160px !important;
}

/* line 295, classes.scss */
.bo-160 {
  bottom: 160px !important;
}

/* line 286, classes.scss */
.to-165 {
  top: 165px !important;
}

/* line 289, classes.scss */
.le-165 {
  left: 165px !important;
}

/* line 292, classes.scss */
.ri-165 {
  right: 165px !important;
}

/* line 295, classes.scss */
.bo-165 {
  bottom: 165px !important;
}

/* line 286, classes.scss */
.to-170 {
  top: 170px !important;
}

/* line 289, classes.scss */
.le-170 {
  left: 170px !important;
}

/* line 292, classes.scss */
.ri-170 {
  right: 170px !important;
}

/* line 295, classes.scss */
.bo-170 {
  bottom: 170px !important;
}

/* line 286, classes.scss */
.to-175 {
  top: 175px !important;
}

/* line 289, classes.scss */
.le-175 {
  left: 175px !important;
}

/* line 292, classes.scss */
.ri-175 {
  right: 175px !important;
}

/* line 295, classes.scss */
.bo-175 {
  bottom: 175px !important;
}

/* line 286, classes.scss */
.to-180 {
  top: 180px !important;
}

/* line 289, classes.scss */
.le-180 {
  left: 180px !important;
}

/* line 292, classes.scss */
.ri-180 {
  right: 180px !important;
}

/* line 295, classes.scss */
.bo-180 {
  bottom: 180px !important;
}

/* line 286, classes.scss */
.to-185 {
  top: 185px !important;
}

/* line 289, classes.scss */
.le-185 {
  left: 185px !important;
}

/* line 292, classes.scss */
.ri-185 {
  right: 185px !important;
}

/* line 295, classes.scss */
.bo-185 {
  bottom: 185px !important;
}

/* line 286, classes.scss */
.to-190 {
  top: 190px !important;
}

/* line 289, classes.scss */
.le-190 {
  left: 190px !important;
}

/* line 292, classes.scss */
.ri-190 {
  right: 190px !important;
}

/* line 295, classes.scss */
.bo-190 {
  bottom: 190px !important;
}

/* line 286, classes.scss */
.to-195 {
  top: 195px !important;
}

/* line 289, classes.scss */
.le-195 {
  left: 195px !important;
}

/* line 292, classes.scss */
.ri-195 {
  right: 195px !important;
}

/* line 295, classes.scss */
.bo-195 {
  bottom: 195px !important;
}

/* line 286, classes.scss */
.to-200 {
  top: 200px !important;
}

/* line 289, classes.scss */
.le-200 {
  left: 200px !important;
}

/* line 292, classes.scss */
.ri-200 {
  right: 200px !important;
}

/* line 295, classes.scss */
.bo-200 {
  bottom: 200px !important;
}
